@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark: hsl(206, 74%, 6%);
    --light: hsl(208, 100%, 97%);
    --border: rgb(255, 196, 70);
    --accent: rgb(240, 74, 114);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--dark);
}

.ta-r{
    text-align: right;
}

h1{
    font-size: 3rem;
    background: -webkit-linear-gradient(var(--border), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem;
}

.container{
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* background-color: lightgreen; */

}

.display{
    margin: 1.5rem 0;
    height: 80px;
    border-radius: 10px;
    background-color: white;
}

.operation{
    height: 50%;
    font-size: 20px;
    padding: 5px 10px;
    /* background-color: lightseagreen; */
}

.result{
    height: 50%;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    /* background-color: tomato; */
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

    /* background-color: lightslategray; */
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

    background-color: lightgray;
}

#delete{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    background-color: hsl(342, 47%, 58%);
}

#clear{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    background-color: hsl(253, 47%, 58%);
}
