@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark: hsl(206, 74%, 6%);
    --light: hsl(208, 100%, 97%);
    --pink: hsl(342, 47%, 58%);
    --purple: hsl(253, 47%, 58%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--dark);
}

.ta-r{
    text-align: right;
}

h1{
    font-size: 3rem;
    color: var(--light);
    background: -webkit-linear-gradient(var(--purple), var(--pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem;
}

.display{
    margin: 1.5rem 0;
    height: 80px;
    border-radius: 10px;
    background-color: white;
}

.operation{
    height: 50%;
    font-size: 20px;
    padding: 5px 10px;
}

.result{
    height: 50%;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

    background-color: lightgray;
}

button[data-type='operator']:focus{
    background-image: linear-gradient(var(--purple), var(--pink));
}

.delete{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    background-color: var(--pink)
}

.clear{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    background-color: var(--purple);
}
